.SmallCoverImage {
	height: 200px !important;
	min-height: 200px !important;
}

.SmallCoverImage-image {
	min-height: 200px !important;
}

.SmallProduct {
	position: relative;
	padding: 5%;
	margin-bottom: 20px;
	background-color: #FCFCFC;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.SmallProduct-remove  {
	position: absolute;
	top: -4px;
	right: 0;
}

.SmallProduct-image {
	display: block;
	margin: 0 auto;
    max-width: 80%;
}

.SmallProduct-title a {
	display: block;
	color: #222 !important;
}

.SmallProduct-artist a {
	display: block;
	color: #222 !important;
}

.SmallProduct-price {
	display: inline;
	position: absolute;
	background-color: #98FF77;
	padding: 10px;
	font-size: 18px;
	top: -4px;
	left: 0;
}

.CustomSearchInput {
    width: 40%;
    margin: 0 auto;
 }

 .CustomSearchInput-button {
    height: 47px;
    margin-left: 0;
 }


.navbar-brand, .nav, .navbar-default .navbar-nav > li > a {
	color: white !important;
}
body {
	background-color: white !important;
}

 footer.section-primary {
 	background-color: #222222 !important;
 }

 .navbar.navbar-default.navbar-static-top {
	background-color: #222222 !important;
	border: none;
 }