<div>
    <div class="cover">
        <div class="cover-image" style="background-image : url('https://i.ytimg.com/vi/PmuIhhyxhko/maxresdefault.jpg')"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-inverse">Welcome</h1>
                    <p class="text-inverse">You can find, collect and buy your favourite CDs from all over the world</p>
                    <br>
                    <br>
                </div>

            </div>

			<div class="CustomSearchInput">
                <div class="input-group col-md-12">
                    <input ng-model="searchText" type="text" class="CustomSearchInput-input search-query form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                        <a ng-href="/#/search/{{searchText}}" class="CustomSearchInput-button btn btn-lg btn-primary" type="button">
                            <span class="fa fa-search fa-fw"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our recent products in our store</h1></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
				<div class="col-md-4" ng-repeat="cd in cds track by cd.id">
					<div class="SmallProduct">
						<a ng-href="/#/product/{{cd.id}}">
							<img class="SmallProduct-image" ng-src="{{cd.cover && cd.cover.small ? cd.cover.small : 'https://pbs.twimg.com/profile_images/425274582581264384/X3QXBN8C.jpeg'}}">
						</a>
							
                        
						<h3 class="SmallProduct-title">
                            <a ng-href="/#/product/{{cd.id}}">{{cd.name}}</a>
                        </h3>
						<p class="SmallProduct-artist"><a ng-href="/#/product/{{cd.id}}">{{cd.artist}}</a></p>
						<span class="SmallProduct-price">30 €</span>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
