<div>


    <div class="SmallCoverImage cover">
        <div class="SmallCoverImage-image cover-image" style="background-image : url('https://i.ytimg.com/vi/PmuIhhyxhko/maxresdefault.jpg')"></div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{cd.name}} - {{cd.artist}} | {{cd.label}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="" width="250" ng-src="{{cd.cover && cd.cover.small ? cd.cover.small : 'https://pbs.twimg.com/profile_images/425274582581264384/X3QXBN8C.jpeg'}}">
                </div>
                <div class="col-md-4">
                    <p>
                        Lorem ipsum Cillum ex commodo occaecat cillum minim enim sint do ut in do proident veniam magna adipisLorem ipsum Deserunt non occaecat est labore in aliquip elit 

                        voluptate velit Excepteur fugiat consectetur do officia enim nisi consectetur nisi ut anim ullamco nulla officia ut sunt elit aliquip laboris sit sunt tempor do cillum irure est nostrud.
                        icing dolor magna minim dolore aliqua Duis incididunt.
                    </p>
                    <p>
                        <h3>{{cd.trackCount}} Tracks</h3>
                        <h3>{{cd.date}}</h3>
                    </p>
                    <p>&nbsp;</p>
                    <a class="btn btn-lg btn-primary" ng-click="addToCart()">Add to cart</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
