<div>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/list"><span>Fancy CD Shop</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/#/list">Home</a>
                    </li>                        
                    <li>
                        <a href="/#/search">Search</a>
                    </li>     
                    <li>
                        <a href="/#/cart">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="SmallCoverImage cover">
        <div class="SmallCoverImage-image cover-image" style="background-image : url('https://i.ytimg.com/vi/PmuIhhyxhko/maxresdefault.jpg')"></div>
    </div>

 <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>

    <div class="CustomSearchInput">
        <div class="input-group col-md-12">
            <input ng-model="searchText" type="text" class="CustomSearchInput-input search-query form-control input-lg" placeholder="Search" />
            <span class="input-group-btn">
                <a ng-href="/#/search/{{searchText}}" class="CustomSearchInput-button btn btn-lg btn-primary" type="button">
                    <span class="fa fa-search fa-fw"></span>
                </a>
            </span>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 ng-hide="cds.length > 0 || !searchText">Your search returned no results.</h1></div>
                    <h1 ng-show="cds.length > 0 && searchText">Your search returned {{cds.length}} results.</h1></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
				<div class="col-md-4" ng-repeat="cd in cds track by cd.id">
					<div class="SmallProduct">
						<a ng-href="/#/product/{{cd.id}}">
							<img class="SmallProduct-image" ng-src="{{cd.cover.small}}">
						</a>
							
						<h3 class="SmallProduct-title">{{cd.title}}</h3>
						<p class="SmallProduct-artist">{{cd.artist}}</p>
						<span class="SmallProduct-price">30 €</span>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
